
img {
    position: relative;
    top: 0;
    box-shadow:0 0 100px -99px transparent;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

img:hover {
    position: relative;
    top: 10px;
    left:10px;
    box-shadow:-10px -10px 50px 6px rgb(100, 0, 0);

}

h1 {
    color:white;
    position:relative;
    top:0;
    font-family: 'Jost', sans-serif;
    width: fit-content;
}


.pop {
    color:red;
    position:relative;
    top:0;
}




body {
    margin: 0;
    color:white;
    background:black;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 100vh;
    font-family: 'Jost', sans-serif;
}

.sep {
    width: 50vw;
    margin-inline: auto;
    height: 2px;
    background-color: white;
}

h1, h2 {
    margin: auto;
    font-family: 'Jost', sans-serif;
    font-weight:400;
    text-align:center;
}

h1 {
    margin-bottom:5px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-size:26px;
}

.top-bar {
    display: flex;
    height: 5vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
}

.topLinks, .topLinks:link, .topLinks:visited, .topLinks:focus, .topLinks:hover, .topLinks:active {
    color: white;
    font-family: 'Jost', sans-serif;
    text-decoration: 2px solid underline;
}

.topLinks {
    font-size: 160%;
}

.topLinks:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: darkgrey;
}

.bigBanner {
    font-size:46px;
    letter-spacing: 10px;
    
}

span.banner, span a {
    color:white;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size:80px;
    text-shadow: 0 0 9px white;
}

