body {
    margin: 0;
    color:white;
    background:black;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 100vh;
    font-family: 'Jost', sans-serif;
}

.sep {
    width: 50vw;
    margin-inline: auto;
    height: 2px;
    background-color: white;
}

h1, h2 {
    font-family: 'Jost', sans-serif;
    font-weight:400;
    text-align:center;
}

h1 {
    margin-bottom:5px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-size:26px;
}

.top-bar {
    display: flex;
    height: 5vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
}

.topLinks, .topLinks:link, .topLinks:visited, .topLinks:focus, .topLinks:hover, .topLinks:active {
    color: white;
    font-family: 'Jost', sans-serif;
    text-decoration: 2px solid underline;
}

.topLinks {
    font-size: 160%;
}

.topLinks:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: darkgrey;
}

.bigBanner {
    font-size:46px;
    letter-spacing: 10px;
    
}

span.banner, span a {
    color:white;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size:80px;

}
