body {
    margin: 0;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 100vh;
}

h1, h2, p {
    font-family: 'Roboto', sans-serif;
    text-align:center;
}


.image {
    position: relative;
}

p {
    font-size:1.5em;
}

html {
    background-color: red;
    color: white;
    height: 100vh;
    overflow: hidden;
    
}

svg {
    background-color: red;
    position: absolute;
    z-index: -1;
    top:0;
    height:100vh;
}

svg:not(:root) {
    overflow:visible !important;
}


.top-bar {
    display: flex;
    height: 5vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
}

.topLinks, .topLinks:link, .topLinks:visited, .topLinks:focus, .topLinks:hover, .topLinks:active {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.topLinks {
    font-size: 160%;
}

.topLinks:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: darkgrey;
}