


#banner {
    display: inline-flex;
    height: 15vh;
    background-image: linear-gradient(black, #0c0c0c);
    /* border-bottom: 2px solid grey; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#nflix {
    margin-left: 1vh;
    display: inline-flex;
    height: 12vh;
}


#bg {
    background-color: #0c0c0c;
    margin:0 !important
}


#personSelect, #selectPer {
    margin-top: 5vw;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#selectPer {
    width: 100vw;
}


html, body {
    background: #0c0c0c;
    display: flex;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
}

h1, h2 {
    font-size: 6vh;
    color: #989898;
    font-family: 'Roboto', sans-serif;
}

#img {
    width: 20vh;
    height: 20vh;
}

.per {
    margin: 2vh;
    color: black;
    background-color: #0c0c0c;
    box-shadow: inset 0 0 10px black;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    top: 0;
    /* padding: 1vw;  */
    outline: none;
    margin-right: 4vh;
    transition: 400ms;
}

.per:hover{
    top: -10px;
    border-color: white;
}


h3{
    font-size:3vh;
    font-family: 'Roboto', sans-serif;
    color:white;
}

#user {
    width: 12vh;
    height: 12vh;
    border: 2px solid grey;
    background: #0c0c0c;
}

#containBanner {
    width:100vw;
    text-align: right;
    display: inline-flex;
    align-content: flex-start;
}

#isoriginal {
    width: 100%;
}
#displayVid {
    width: 63.3%;
    height: 75%;
    padding-bottom: 75%;
    border-radius: 0;
    position: absolute;
    left: 19%;
    overflow: hidden;
    border: 0px;
    display: block;
    overflow: hidden;
    margin: 0;
}

#selShow {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#chooseShow {
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 3vh;
    height: 5vh;
    display: inline-flex;
}

#space {
    width: 63.3%;
    height: 75%;
    padding-bottom: 75%;
    border-radius: 0;
    overflow: hidden;
    border: 0px;
    display: block;
    overflow: hidden;
    margin: 0;
}

#options {
    position: absolute;
    top: 90vh;
    left: 50vw;
    right: 50vw;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: darkgrey;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

#episodenumber {
    border-radius:10px;
    border: 0;
    height: 3vh;
    outline: none;
    font-size:2vh;
    text-align:center;
    background-color:darkgrey;
}

#epicontainer {
    text-align: end;
    display: inline-flex;
}

label {
    text-align:center;
    font-size:3vh;
}
#nextButton{
    color:black;
    width:5vw;
    height:3vh;
    font-size:2vh;
    min-width:60px;
}

p {
    width: 12vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.numberSE {
    border: 0;
    border-radius: 10px;
    height: 3vh;
    outline: none;
    font-size: 2vh;
    text-align: center;
    background-color: darkgrey;
}


#aot {
    height: 5vh;
    display: inline-flex;
    width: 100vw;
    font-size:3vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px !important;
    background-color: black;
    border-bottom-color: white;
    border: 1px solid white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#watchAOT {
    border-radius: 10px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 3vh;
    height: 5vh;
    display: inline-flex;
}

#text {
    display:none;
    position: absolute !important;
    top: 900% !important;
}

.bannerlgt {
    justify-content: center !important;
}

.btnLog {
    font-size: xx-large;
    margin: 20%;
    margin-bottom: 0%;
}