@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: "Gotham Rounded Medium";
    src: url(GothamRnd-Medium.otf) format("truetype");
}
body {
    background-image: url('tile.png');
    display:flex;
    justify-content: center;
    margin:0;
}
.LogInCard {    
    display: inline-flex;
    background-color: white;
    border-radius: 10px;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    min-height:20vh;
    align-self: center;
    padding: 10px;
    font-family: "Gotham Rounded Medium","Varela Round",sans-serif;
    font-weight: 400;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    min-width: 300px;
    max-width: 400px;
    align-self: center;
    padding: 10px;
    align-content: center;
    font-family: GothamRoundedBook,"Varela Round",sans-serif;
    font-weight: 400;
    justify-content: center;

}
.ClassCode {
    border-color: #6D6E70;
    border-radius: 4px;
    border-style: solid;
    border-width:2px;
    outline: none;
    text-transform: uppercase;
    height: 26px;
    font-family: GothamRoundedBook,"Varela Round",sans-serif;
    padding: 0 10px;
    padding-bottom: 0px;
    text-align: left;
    margin-inline:10px;
    width:80%;
}

.ClassCode:active, .ClassCode:focus {
    border-color: #98D64A;
    color:#98D64A;
    text-transform:uppercase;
    
}


.BotName:focus, .BotName:active {
    border-color: #98D64A;
    color:#98D64A;
}

input {
    color : #5b5c5e !important;
}

#CodeLabel {
    border: 0;


}

.Invalid {
    margin:10px;
    visibility:hidden;
    color:red;
}



.classkicker {
    color:white;
    font-size: 160%;
    align-self: center;
    font-family: GothamRoundedBook,"Varela Round",sans-serif;
    font-weight:400;
}

.BotName {
    border-color: #6D6E70;
    border-radius: 4px;
    border-style: solid;
    border-width:2px;
    outline: none;
    text-transform: uppercase;
    height: 26px;
    font-family: GothamRoundedBook,"Varela Round",sans-serif;
    padding: 0 10px;
    padding-bottom: 0px;
    width:80%;
}


.BotName:focus, .BotName:active {
    border-color: #98D64A;
    color:#98D64A;
}

#botContainer {
    position:absolute;
    visibility: hidden;

}


button {
    border: 2px solid #6D6E70;
    background-color: #fff;
    color: #6D6E70;
    padding: .14em 2em;
    height: 2.2rem;
    border-radius: 2em;
    position: relative;
    text-align: center;
    margin: 6px 8px;
    text-transform: uppercase;
    font-size: 14px;
}

#aligner {
    display: flex;
    justify-content: center;
    

}