body {
    margin: 0;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 100vh;
}

svg {
    background-color: red;
    position: absolute;
    z-index: -1;
    top: 0;
    height:5vh !important;
}
html {
    background: radial-gradient(ellipse at center, "#FF0000", darken("#FF0000", 50%) 100%);
    overflow: hidden;
} 


h1, h2, p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.top-bar {
    display: flex;
    height: 5vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
}


.topLinks, .topLinks:link, .topLinks:visited, .topLinks:focus, .topLinks:hover, .topLinks:active {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.topLinks {
    font-size: 160%;
}

.topLinks:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: darkgrey;
}