body {
    margin: 0;
    box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction:column;
    font-size:160%;
    overflow-x:hidden;
}

svg {
    background-color: red;
    position: absolute;
    z-index: -1;
    top: 0;
    height:5vh !important;
}


div {
    display:flex;
}

html {
    background: radial-gradient(ellipse at center, "#FF0000", darken("#FF0000", 50%) 100%);
} 


h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.top-bar {
    display: flex;
    height: 5vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
}


.topLinks, .topLinks:link, .topLinks:visited, .topLinks:focus, .topLinks:hover, .topLinks:active {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.topLinks {
    font-size: 3rem;
}

.topLinks:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: darkgrey;
}

#note {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: 10%;
}

.mainimage {
    align-self: center;
}

.ContentList {
    background-color:#c1aa98;
    border:2px solid #808080;
}

.sep {
    height:10vh;
    background-color:#424242;

}

img {
    align-self: center;
}